@import "@ionic/angular/css/core.css";
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/* Fix iOS page transition shadow glitching custom headers */
.ion-page, ion-page {
  box-shadow: none !important;
}

/* Force hardware acceleration on headers to prevent visual stutter */
ion-header, ion-toolbar {
  transform: translateZ(0);
}

/* Custom Global Theme Variables */
:root {
  --ion-background-color: #f6f7fa; /* Slightly off-white / light blue-gray */
}
